apiVersion: v2
description: Yaook infrastructure service operator (databases, caches, message queues)
type: application
name: infra-operator
version:  {{ version }}
appVersion: {{ version }}
kubeVersion: ">=1.16.0-0"
